
.wiki-sidebar-right {
	float:right;
	width:25%;
	background-color: white;
	margin: 10vw 2vw 2vw 2vw;
	padding: 1vw 3vw 1vw 1vw;

}

#wiki-contents {
	background-color: white;
	padding: 1vw;
}

.wiki-sidebar {
	width:35%;
	float: left;
	background-color: white;
	margin: 3vw 2vw 2vw 4vw;
	padding: 3vw 1vw 1vw 3vw;

	}

#wiki-table{
	margin: 0vw 2vw 0vw 0vw;
	padding: 0vw 0vw 0vw 0vw;
}


sup {
	display: none;
}

#wiki-refs {
	display: none;
}

.in-block {
	padding-top: 5vh;
}

img { 
	width: 30%;
}

#wiki-cont {
	padding: 0vh 0vh 3vh 0vh;
}

.wiki-container {
	padding: 0% 5% 5vh 5%;
}

.footpad {
     margin: -3vh 0 0 0 !important;
  }

