---
layout: default
---

<link href="/css/wiki.css" rel="stylesheet">

{{ content }}

<footer class="footer text-faded text-center footpad">
      <p >Wiki content is available under <a class="external" rel="nofollow" href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a> unless otherwise noted. Content diverged from <a class="external" rel="nofollow" href="https://en.wikipedia.org/w/index.php?title=Kombucha&amp;oldid=911077785">Wikipedia</a>  on 08/19/19. <a href="https://m.wikimediafoundation.org/wiki/Terms_of_Use">Terms of Use</a> </p>
</footer>